{% set user = __SELF__.user %}
<div id="{{ __SELF__.id }}_authorizations">
    {% if user and user.sunlab_sso_authorizations is not empty %}
    <ul>
        {% for client in user.sunlab_sso_authorizations %}
        <li>
            {{ 'sunlab.ssoprovider::lang.components.authorized_clients.access_granted' | trans({name: client.name})
            <button data-request="onRevoke"
                    data-request-flash
                    data-request-update="'{{ __SELF__ }}::default': '#{{ __SELF__.id }}_authorizations'"
                    data-request-data="{id: {{ client.id }}}"
            >Revoke</button>
        </li>
        {% endfor %}
    </ul>
    <p><i>{{ 'sunlab.ssoprovider::lang.components.authorized_clients.revoke_warning' | trans }}</i></p>
    {% else %}
    <p>{{ 'sunlab.ssoprovider::lang.components.authorized_clients.no_authorization' | trans }}</p>
    {% endif %}
</div>
