{% if user and user.sunlab_sso_authorizations is not empty %}
    <form data-request="onRevoke" data-request-flash>
        <ul id="{{__SELF__.id }}_authorizations">
            {% for client in user.sunlab_sso_authorizations %}
            <li>
                {{ client.name }} can access your data
                <button data-request-data="id: {{ client.id }}">Revoke</button>
            </li>
            {% endfor %}
        </ul>
        <p><i>Revoking access won't logout from the remote website. You'll need to manually logout from these website.</i></p>
    </form>
{% endif %}
